.genre-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  min-height: 100vh;
    background-color: #1e1f26; /* 앱 메인 다크 색상 */
  color: white;
}

.genre-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 500px;
}

.genre-item {
  padding: 0.7rem 1.4rem;
  border-radius: 30px;
  border: 2px solid #888;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.genre-item.selected {
  background-color: #facc15;
  color: black;
  border-color: #facc15;
}

.genre-complete-btn {
  margin-top: 3rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: #facc15;
  color: #111;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}
